@use "../variables" as vars;
@use "../utils/mixins" as *;

@include layer-base {
  *, *::before, *::after {
    box-sizing: border-box;
  }

  :root {
    color-scheme: light;
  }

  body {
    margin: 0;
    min-height: 100vh;
    font-family: vars.$font-family-sans-serif;
    background: vars.$body-bg;
    color: vars.$body-color;
  }

  a {
    color: inherit;
    text-decoration: none;
  }

  img {
    max-width: 100%;
    display: block;
  }
}