<header class="site__header" data-nav-container>
    <div class="brand">
      <a class="brand__link" href="index.html" aria-label="Inicio Jornadas de Cocina Tradicional">
        <span class="brand__icon" aria-hidden="true">🍲</span>
        <span class="brand__name">Cocina Tradicional</span>
      </a>
      <button class="nav-toggle" type="button" aria-expanded="false" aria-controls="main-menu">
        <span class="nav-toggle__bar"></span>
        <span class="nav-toggle__bar"></span>
        <span class="nav-toggle__bar"></span>
        <span class="nav-toggle__label">Menú</span>
      </button>
    </div>
    <nav class="site__nav" id="main-menu" aria-label="Navegación principal">
      <ul class="nav__list">
        <li class="nav__item"><a class="nav__link" href="index.html">Cartel</a></li>
        <li class="nav__item"><a class="nav__link" href="ponentes.html">Ponentes</a></li>
        <li class="nav__item"><a class="nav__link" href="articulo.html">Artículo</a></li>
        <li class="nav__item"><a class="nav__link" href="talleres.html">Talleres</a></li>
      </ul>
    </nav>