<header class="site-header" data-nav-container>
  <div class="site-header__bar navbar navbar-expand-lg">
    <div class="site-header__brand">
      <a class="site-header__logo navbar-brand" href="index.html" aria-label="Inicio Jornadas de Cocina Tradicional">
        <span class="site-header__icon" aria-hidden="true">🍲</span>
        <span class="site-header__title">Cocina Tradicional</span>
      </a>
      <button class="site-header__toggle navbar-toggler" type="button" aria-expanded="false" aria-controls="main-menu">
        <span class="navbar-toggler-icon"></span>
        <span class="site-header__toggle-label">Menú</span>
      </button>
    </div>
  
    <nav class="site-header__nav collapse navbar-collapse" id="main-menu" aria-label="Navegación principal">
      <ul class="site-header__menu navbar-nav ms-auto">
        <li class="site-header__item nav-item"><a class="site-header__link nav-link" href="index.html">Cartel</a></li>
        <li class="site-header__item nav-item"><a class="site-header__link nav-link" href="ponentes.html">Ponentes</a></li>
        <li class="site-header__item nav-item"><a class="site-header__link nav-link" href="articulo.html">Artículo</a></li>
        <li class="site-header__item nav-item"><a class="site-header__link nav-link" href="extra.html">Extra</a></li>
      </ul>
    </nav>
  </div>
</header>