 /**
 * Import dependencies
 */

 @use "variables";
 @use "utils/mixins";
/**
 * Import base styles
 */
 @use "base/base";
 @use "base/typography";
 /**
 * Import layout and components
 */
@use "layout/layout";
@use "components/buttons";
@use "components/badges";
@use "components/cards";
@use "components/forms";
@use "components/accordion";

/**
 * Pages
 */
 @use "pages/home";
@use "pages/ponentes";
@use "pages/articulo";
@use "pages/talleres";
