/**
 * Ajustes y utilidades (ITCSS: Settings + Tools)
 */

@use "abstracts/functions";
@use "./variables" as *;
@use "./utils/mixins";



/**
 * vendors
 */
 @use "vendors/fonts";
 @use "vendors/bootstrap";
 
 /**
  * Base
  */
 @use "base/reset";
 @use "base/typography";
 
 /**
  * Layout
  */
 @use "layout/grid";
 @use "layout/forms";
 
 /**
  * Components
 */

@use "components/buttons";
@use "components/badges";
@use "components/cards";
@use "components/accordion";
@use "components/footer";

/**
 * Pages
 */
 @use "pages/home";
@use "pages/ponentes";
@use "pages/articulo";
@use "pages/talleres";
